# Local: http://localhost:8080
# Production build: https://d8061ggv2y910.cloudfront.net
VITE_API_URL=http://localhost:8080
VITE_AWS_REGION=us-east-1
VITE_MAP_NAME=EvoChargeMap
VITE_LOCATION_API_KEY=your-amazon-location-api-key
